and_chr 87
android 89
chrome 89
chrome 88
chrome 87
chrome 86
chrome 85
chrome 84
chrome 83
chrome 80
chrome 76
edge 87
firefox 86
firefox 85
ios_saf 14.0-14.5
ios_saf 13.4-13.7
ios_saf 13.3
ios_saf 12.2-12.4
opera 73
safari 14
safari 13.1
safari 13
safari 12.1
safari 11.1
